<!Doctype html>
{% load static %}
<html>
    <head>
        <title>To do List</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            .a:hover {
                    transform: translateY(-2px);
            }
        
        
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold text-white a" href="{% url 'Home' %}">To Do List</a>
                <a class="navbar-brand fw-bold text-white a" href="{% url 'Home' %}">Home</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    {% if request.user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item text-white">
                          <span class="navbar-brand fw-bold text-white me-2" >Welcome {{request.user.username}}</span>
                        </li>    
                        {% comment %} <li class="nav-item">
                            <a class="btn btn-primary btn-sm me-2" href="">Profile</a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="btn btn-primary btn-sm" href="{% url  'Logout' %}">Logout</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <br>
        
        
<div class="center-div">         
    <div class="col-md-12">
        <button  onclick="history.back()" class = "btn btn-primary btn-sm m-1" >Go Back</button>
        <br>
        

        {% block content %}{% endblock content %}
    </div>
</div>

    </body>
</html>